/* general styles */
body {
  font-family: "Lato", sans-serif;
}

.container {
  padding: 5% 10%;
  text-align: center;
}

img {
  border-radius: 50%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

/* nav bar */
.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 48px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 31.4px;
  letter-spacing: 2px;
}
.logo a{
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 12px 24px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
}

nav ul li a:hover{
  color: gray;
  text-decoration: none;
  }

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}

/* header section */
header {
  font-size: 25px;
  padding: 15% 10%;
  background: url(../images/bwtree.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  height: 100vh;
}


header h1{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
}
header h2 {
  font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}


header h1 span {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 90px;
  padding-left: 10px;
  padding-right: 10px;
}

header h1 span:hover {
  color: rgba(112, 109, 109, 0.74);
}

/* about me section */
.aboutdiv{
background: transparent;
}
.about {
    width: 100vw;
}
.about p{
  font-size: 23px;
}

/* my skills section */
.skills ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
}

.skills li {
  background-color: paleturquoise;
  box-shadow: 20px 20px 1px 2px rgba(255, 214, 255, 1);
  font-size: 35px;
  margin: 35px;
  padding: 20px;
  text-align: center;
}

/* my work  */
.work {
  background-color: #bdd5ff;
}

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.work-items img {
  margin-bottom: 30px;
}

/* footer */
.social {
  display: flex;
  justify-content: space-around;
}

footer .svg-inline--fa {
  /* color: rgb(113, 167, 202); */
  font-size: 65px;
}
.fa-github-square{
color: black;
}
.fa-linkedin{
  color: rgb(40,103,178);
}

.fa-github-square:hover {
  color: rgba(37, 37, 37, 0.739);
}

.fa-linkedin:hover{
  color: rgba(40, 102, 178, 0.65);
}